body {
    margin: 0;
    min-height: 100vh;
 }

 #wrapper {
     width: 100%;
     max-width: 880px;
     padding: 0 15px;
     box-sizing: border-box;
     font-size: 0.9em;

     /* CENTERING */
     min-height: 100vh;
     height: auto;
     margin: 0 auto;

     display: flex;
     flex-direction: column;
     justify-content: center; /* κάθετα */
     align-items: center;     /* οριζόντια */

}

#wrapper div {
  padding: 5px;                     /* μικρότερο padding */
  margin: 5px 0;                    /* μικρότερα κενά */
  box-sizing: border-box;
  
}

*, *::before, *::after {
    box-sizing: border-box; 
}

p{
    color: aliceblue;
    font-family: 'Roboto Condensed', sans-serif;
}

.skill-btn{
     font-size: 18px;
     color: #FFE08A;
     font-family: 'Roboto Condensed', sans-serif;
     text-decoration: none;
}

.skill-btn:hover {
     color: whitesmoke;
    
}

.logo{
     height: 32px;
     width: 32px;
     object-fit: contain;
     opacity: 0.75;           /* ελαφρώς διαφανή */
     transition: all 0.25s ease;  
     display: block;   
}

.bottom-btn{
    font-size: 22px;
    color: whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
}

.bottom-btn:hover {
    color:#FFE08A;
    
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* γεμίζει όλη την οθόνη */
    z-index: -1; /* πάει πίσω από όλα */
}

#top,
#info,
#links,
#logos,
#bottom{
    text-align: center;
    margin: 7px 0;
    width: 100%;
}

#title {
    font-size: 45px;
    font-weight: 400;
    margin-top: 18px;
    margin-bottom: 10px; 
}

.info{
    font-size: 18px;
    font-weight: 400; 
    margin: 10px 0;   
}

#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;      
    font-weight: 400; 
    line-height: 1.5;     
    margin: 5px 0;        
}

#links{
    display: flex;
    flex-direction: column;
    align-items: center;   
}

#logos{
     display: flex;
     justify-content: center;
     gap: 15px;                         /* απόσταση μεταξύ logos */
     margin-top: 15px;
}

#profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    max-width: 80%;  
    
}

#bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;             /* για να κατέβουν σε νέα γραμμή αν χρειαστεί */
    gap: 35px;
    font-size: 28px;
}

.links-top,
.links-mid,
.links-bottom
{
    text-align: center;
    margin: 8px 0;
    width: 100%;
}

.links-bottom{
    margin-top: 27px;
}

.links-title {
    font-size: 33px;
    font-weight: 400;
    margin-top: 17px;
    margin-bottom: 8px; 
}

.links-info{
    font-size: 17px;
    font-weight: 400; 
    text-align: left;
    margin: 8px 0;

}

.links-info-bottom{
   font-size: 14px;
   font-weight: 700; 
   font-style: italic;
   color:#FFE08A;
   margin: 4px 0;
}

.links-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 17px; 
    color: #FFE08A;     
    font-weight: 400; 
    line-height: 1.5;     
    margin: 4px 0; 
}

.sub-title{
    font-size: 17px;
    color:#FFE08A;
    font-weight: 400; 
    margin: 4px 0;
}